body {
  background-color: #0c122c;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
  color: white;
  font-size: 1rem;
}

p {
  color: white;
  font-size: 0.75rem;
}

.left-box {
  position: absolute;
  margin-left: 18%;
  bottom: 35vh;
  z-index: 1;
  height: 200px;
  width: 25%;
  border-radius: 10px 100px 10px 10px;
  background-color: #1d2c67;
}

.interior {
  margin: 40px auto auto 40px;
}

.icono {
  margin: 25px 10px auto auto;
  padding: 10px;
  background-color: #0c122c;
  border-radius: 5px;
}

.document-icon {
  padding-left: 15px;
  padding-right: 15px;
}

.folder-icon {
  padding: 12px;
}

.upload-icon {
  padding: 14px 12px;
}

.right-box {
  position: absolute;
  margin-left: 45%;
  bottom: 35vh;
  z-index: 1;
  height: 160px;
  width: 38%;
  border-radius: 10px;
  background-color: #1d2c67;
}

.text {
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 30px 0 0 30px;
  opacity: 0.7;
}

.textBold {
  font-weight: bold;
}

.slidercontainer {
  margin: 5px 30px;
}

meter {
  width: 100%;
  margin: 3px auto;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: #0c122c;
  height: 18px;
  border: 3px solid #0c122c;
  border-radius: 20px;
}

meter::-webkit-meter-optimum-value {
  background-image: linear-gradient(90deg, #ffa399, #ff4d97);
  border-radius: 20px;
}

.dot {
  position: relative;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  top: -15px;
  /* align-content: center; */
  left: 78.5%;
}

.capacidad {
  margin-top: 0;
  font-weight: bold;
  left: 0;
  width: 20%;
  opacity: 0.7;
}

.capa-final {
  position: absolute;
  font-weight: bold;
  margin-right: 30px;
  right: 0;
  opacity: 0.7;
}

.boxWhite {
  position: absolute;
  right: 30px;
  bottom: 140px;
  height: 60px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
}

.TextBoxWhite {
  font-size: 0.55rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 4px;
  vertical-align: middle;
  text-align: center;
  color: grey;
}

.bold {
  position: relative;
  top: 6px;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.triangulo {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -18px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid #fff;
}

/***************** Responsive *************/
.width-desktop {
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 50vh;
  width: 100%;
  height: 50vh;
}

.width-mobile {
  position: relative;
  z-index: -1;
  display: none;
}

@media only screen and (max-width: 375px) {
  .width-desktop {
    position: relative;
    display: none;
  }

  .width-mobile {
    position: relative;
    display: block;
  }
}

@media only screen and (max-width: 910px) {
  .left-box {
    position: absolute;
    margin-left: 10%;
    top: 15vh;
    z-index: 1;
    height: 200px;
    width: 80%;
  }

  .right-box {
    position: absolute;
    margin-left: 10%;
    margin-top: 8vh;
    top: 42vh;
    z-index: 1;
    height: 160px;
    width: 80%;
  }

  .text {
    text-align: center;
    padding: 30px 0 0;
  }

  .boxWhite {
    position: absolute;
    top: 130px;
    margin-left: 35%;
    margin-right: 25%
  }

  .triangulo{
    position: relative;
    display: none;
  }
}

/*********************************/
.attribution {
  position: relative;
  text-align: center;
  z-index: 1;
  top: 90vh;
}
